<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USER DASHBOARD</title>
</head>
{% block content %}
<center>
    <body bgcolor="lightgreen">
    <form action = "us" method="POST">
        <h1><u>USER DASHBOARD</u> </h1>
        <ul>
            <li> <a href = "empleave"> LEAVE APPLICATION </a></li><br>
            <li> <a href = "leavestatus">LEAVE STATUS </a></li><br>
            <li> <a href = "taskassign">TASK ASSIGNED </a></li>
        </ul>
    </form>
    </body>
</center>
</html>
{% endblock %}